<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="onSave()" autocomplete="off" [formGroup]="miFormulario">
    
    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                class="form-control" 
                type="text"
                formControlName="lblNombre"
                placeholder="Nombre de la persona">
            <span 
                *ngIf="fieldIsValid('lblNombre')"
                class="form-text text-danger">
                * Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                class="form-control" 
                type="text"
                [formControl]="nuevoFavorito"
                placeholder="Agregar favorito"
                (keyup.enter)="agregarFavorito()">
                
                <button 
                    class="btn btn-outline-primary" 
                    type="button"
                    (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Listado de juegos favoritos -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            
            <div 
                class="input-group mb-1" 
                *ngFor="let favorito of favoritosArr.controls; let i = index">

                <input
                class="form-control" 
                [formControlName]="i"
                type="text">

                <button 
                    class="btn btn-outline-danger" 
                    type="button"
                    (click)="borrar(i)">
                    Eliminar
                </button>

            </div>

        </div>
    </div>

    <!-- Button -->
    <div class="row">
        <div class="col-sm-12">
            <button 
                class="btn btn-primary float-end"
                type="submit">
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<br>

<span>Value</span>
<pre>{{miFormulario.value | json}}</pre>
<br>

<span>Agregar juego</span>
<pre>{{nuevoFavorito.valid}}</pre>
<pre>{{nuevoFavorito.value}}</pre>
<br>